Repository artus15/ECSE428-FitGarage, pull requests merged in 2022-11, with the labels that each got.

#65 Created HomePage and Assets folders, and created homepage with styling
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/assets/fitman.jpg
  frontend/src/components/Home/HomePage.js
  frontend/src/components/Home/HomePageStyles.css
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/navbar/NavbarStyles.css
  frontend/src/index.css
  package-lock.json
  package.json
Labels: frontend

#66 Created routing from homePage to signup page using the button. And cr…
  frontend/src/App.js
  frontend/src/components/Home/HomePage.js
  frontend/src/components/Login/Login.js
  frontend/src/components/Login/LoginStyles.css
  frontend/src/components/Signup/Signup.js
  frontend/src/components/Signup/SignupStyles.css
  frontend/src/components/navbar/Navbar.js
  frontend/src/index.js
Labels: frontend

#67 Add booking model and features
  backend/backend/urls.py
  backend/fitgarageapp/migrations/0005_booking.py
  backend/fitgarageapp/models.py
  backend/fitgarageapp/serializers.py
  backend/fitgarageapp/views.py
Labels: New Feature, backend, database

#76 Migrate db and test db from Heroku to supabase
  backend/backend/settings.py
  backend/fitgarageapp/migrations/0007_merge_0005_booking_0006_alter_customuser_name.py
  backend/image.env
  backend/test_image.env
Labels: database
